<div>
  <div class="p-2">
    <input type = "text" placeholder="Filter Currencies" [(ngModel)]="selectedCurrency" (input) = "filterCurrency()">
    <button type="button" class="m-2" color="success" (click)="clear()">Clear</button>
    <br/><br/>
    <div>Source Currency</div>
    <div>
      <input [(ngModel)]="currency1Amount" type="text" placeholder="Amount" name="currency1Amount" (input)="valueChange()">
      <select class="m-1" [(ngModel)]="selectedSource" (change)="baseChange()">
        <option *ngFor="let countryCode of filteredResults" [value]="countryCode">
          {{countryCode}}
        </option>
      </select>
    </div>
  </div>
  <div class="p-2">
    <div>Target Currency</div>
    <div>
      <input [(ngModel)]="currency2Amount" type="text" placeholder="0" name="currency2Amount" disabled>
      <select class="m-1" [(ngModel)]="selectedTarget" (change)="valueChange()">
        <option *ngFor="let countryCode of filteredResults" [value]="countryCode">
          {{countryCode}}
        </option>
      </select>
    </div>
  </div>
  <!-- <div class="p-3">
    <button type="button" color="success" (click)="convert()">Convert</button>
  </div> -->
</div>